VITE_SUPABASE_URL=https://hltjnbdgbdjtjnxtbrzf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhsdGpuYmRnYmRqdGpueHRicnpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NzMxNjksImV4cCI6MjA5NzQ0OTE2OX0.D9sc4PPdfUL-X4nZ50IXdWepvxNXh7dMpRzVk3qOaS0
